USE [SANic]
GO
/****** Object:  Table [dbo].[Categorías]    Script Date: 4/5/2026 15:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorías](
	[IDCategoría] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripción] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCategoría] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 4/5/2026 15:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IDCliente] [nchar](5) NOT NULL,
	[NombreEmpresa] [nvarchar](100) NOT NULL,
	[Contacto] [nvarchar](100) NULL,
	[Cargo] [nvarchar](50) NULL,
	[Dirección] [nvarchar](150) NULL,
	[Ciudad] [nvarchar](50) NULL,
	[País] [nvarchar](50) NULL,
	[Teléfono] [nvarchar](30) NULL,
	[Correo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesFactura]    Script Date: 4/5/2026 15:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesFactura](
	[IDDetalleFactura] [int] IDENTITY(1,1) NOT NULL,
	[IDFactura] [int] NOT NULL,
	[IDProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Descuento] [decimal](10, 2) NOT NULL,
	[Subtotal]  AS ([Cantidad]*[PrecioUnitario]-[Descuento]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[IDDetalleFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesPedido]    Script Date: 4/5/2026 15:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesPedido](
	[IDDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IDPedido] [int] NOT NULL,
	[IDProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 4/5/2026 15:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[IDEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Apellidos] [nvarchar](50) NULL,
	[Nombre] [nvarchar](50) NULL,
	[Cargo] [nvarchar](50) NULL,
	[FechaNacimiento] [date] NULL,
	[FechaContratación] [date] NULL,
	[Dirección] [nvarchar](150) NULL,
	[Ciudad] [nvarchar](50) NULL,
	[País] [nvarchar](50) NULL,
	[Teléfono] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 4/5/2026 15:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[IDFactura] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [nvarchar](20) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IDCliente] [nchar](5) NOT NULL,
	[IDPedido] [int] NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[Descuento] [decimal](10, 2) NOT NULL,
	[Impuesto] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[UsuarioCrea] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventarios]    Script Date: 4/5/2026 15:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventarios](
	[IDInventario] [int] IDENTITY(1,1) NOT NULL,
	[IDProducto] [int] NOT NULL,
	[StockInicial] [int] NOT NULL,
	[StockActual] [int] NOT NULL,
	[StockMinimo] [int] NULL,
	[StockMaximo] [int] NULL,
	[PuntoReorden] [int] NULL,
	[FechaUltimoMovimiento] [datetime] NULL,
 CONSTRAINT [PK_Inventarios] PRIMARY KEY CLUSTERED 
(
	[IDInventario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KardexInventario]    Script Date: 4/5/2026 15:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KardexInventario](
	[IDMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[IDProducto] [int] NOT NULL,
	[CodigoBarra] [varchar](50) NULL,
	[TipoMovimiento] [varchar](50) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[StockAnterior] [int] NOT NULL,
	[StockNuevo] [int] NOT NULL,
	[Impacto] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NULL,
	[CostoImpacto] [decimal](18, 2) NULL,
	[DocumentoReferencia] [varchar](100) NULL,
	[Bodega] [varchar](100) NULL,
	[Responsable] [varchar](100) NOT NULL,
	[Detalle] [varchar](500) NOT NULL,
	[FechaMovimiento] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientosInventario]    Script Date: 4/5/2026 15:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientosInventario](
	[idMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[idInventario] [int] NOT NULL,
	[idDetalle] [int] NULL,
	[fechaMovimiento] [datetime] NULL,
	[tipoMovimiento] [char](1) NULL,
	[documentoReferencia] [nvarchar](50) NULL,
	[origenDestino] [nvarchar](100) NULL,
	[cantidad] [int] NOT NULL,
	[costoUnitario] [decimal](10, 2) NULL,
	[observaciones] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[idMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 4/5/2026 15:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[IDPedido] [int] IDENTITY(1,1) NOT NULL,
	[IDCliente] [nchar](5) NULL,
	[IDEmpleado] [int] NULL,
	[FechaPedido] [date] NULL,
	[FechaRequerida] [date] NULL,
	[FechaEnvío] [date] NULL,
	[IDTransportista] [int] NULL,
	[CargoTransporte] [decimal](10, 2) NULL,
	[Destinatario] [nvarchar](100) NULL,
	[DirecciónDestino] [nvarchar](150) NULL,
	[CiudadDestino] [nvarchar](50) NULL,
	[PaísDestino] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 4/5/2026 15:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IDProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[IDProveedor] [int] NULL,
	[IDCategoría] [int] NULL,
	[CantidadPorUnidad] [nvarchar](50) NULL,
	[PrecioUnitario] [decimal](10, 2) NULL,
	[UnidadesEnStock] [int] NULL,
	[UnidadesEnPedido] [int] NULL,
	[NivelDeReorden] [int] NULL,
	[Descontinuado] [bit] NULL,
	[CodigoBarra] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedores]    Script Date: 4/5/2026 15:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedores](
	[IDProveedor] [int] IDENTITY(1,1) NOT NULL,
	[NombreEmpresa] [nvarchar](100) NOT NULL,
	[Contacto] [nvarchar](100) NULL,
	[Cargo] [nvarchar](50) NULL,
	[Dirección] [nvarchar](150) NULL,
	[Ciudad] [nvarchar](50) NULL,
	[País] [nvarchar](50) NULL,
	[Teléfono] [nvarchar](30) NULL,
	[Correo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transportistas]    Script Date: 4/5/2026 15:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transportistas](
	[IDTransportista] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Teléfono] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTransportista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categorías] ON 

INSERT [dbo].[Categorías] ([IDCategoría], [Nombre], [Descripción]) VALUES (1, N'Aceites de motor', N'Lubricantes sintéticos, semisintéticos y minerales para automóviles')
INSERT [dbo].[Categorías] ([IDCategoría], [Nombre], [Descripción]) VALUES (2, N'Aditivos', N'Aditivos para mejorar el rendimiento del motor y combustible')
INSERT [dbo].[Categorías] ([IDCategoría], [Nombre], [Descripción]) VALUES (3, N'Líquidos de freno', N'Fluidos de freno DOT3 y DOT4')
SET IDENTITY_INSERT [dbo].[Categorías] OFF
GO
INSERT [dbo].[Clientes] ([IDCliente], [NombreEmpresa], [Contacto], [Cargo], [Dirección], [Ciudad], [País], [Teléfono], [Correo]) VALUES (N'CLI01', N'AutoCentro Managua', N'Mario Pérez', N'Gerente', N'Carretera Masaya Km 5', N'Managua', N'Nicaragua', N'2222-1000', N'ventas@autocentro.com')
INSERT [dbo].[Clientes] ([IDCliente], [NombreEmpresa], [Contacto], [Cargo], [Dirección], [Ciudad], [País], [Teléfono], [Correo]) VALUES (N'CLI02', N'LubriCentro León', N'José Gómez', N'Encargado', N'Avenida Central', N'León', N'Nicaragua', N'2311-1122', N'contacto@lubricentroleon.com')
INSERT [dbo].[Clientes] ([IDCliente], [NombreEmpresa], [Contacto], [Cargo], [Dirección], [Ciudad], [País], [Teléfono], [Correo]) VALUES (N'CLI03', N'Repuestos El Progreso', N'Ana López', N'Dueña', N'Barrio San Judas', N'Managua', N'Nicaragua', N'2233-5566', N'elprogreso@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[DetallesFactura] ON 

INSERT [dbo].[DetallesFactura] ([IDDetalleFactura], [IDFactura], [IDProducto], [Cantidad], [PrecioUnitario], [Descuento]) VALUES (1, 1, 1, 2, CAST(16.50 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[DetallesFactura] ([IDDetalleFactura], [IDFactura], [IDProducto], [Cantidad], [PrecioUnitario], [Descuento]) VALUES (2, 1, 2, 1, CAST(9.90 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[DetallesFactura] ([IDDetalleFactura], [IDFactura], [IDProducto], [Cantidad], [PrecioUnitario], [Descuento]) VALUES (3, 2, 1, 6, CAST(16.50 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetallesFactura] OFF
GO
SET IDENTITY_INSERT [dbo].[DetallesPedido] ON 

INSERT [dbo].[DetallesPedido] ([IDDetalle], [IDPedido], [IDProducto], [Cantidad], [PrecioUnitario]) VALUES (1, 1, 1, 5, CAST(2.50 AS Decimal(10, 2)))
INSERT [dbo].[DetallesPedido] ([IDDetalle], [IDPedido], [IDProducto], [Cantidad], [PrecioUnitario]) VALUES (2, 1, 3, 2, CAST(4.80 AS Decimal(10, 2)))
INSERT [dbo].[DetallesPedido] ([IDDetalle], [IDPedido], [IDProducto], [Cantidad], [PrecioUnitario]) VALUES (3, 2, 2, 3, CAST(3.20 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetallesPedido] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([IDEmpleado], [Apellidos], [Nombre], [Cargo], [FechaNacimiento], [FechaContratación], [Dirección], [Ciudad], [País], [Teléfono]) VALUES (1, N'García', N'Luis', N'Gerente General', CAST(N'1980-05-22' AS Date), CAST(N'2010-03-15' AS Date), N'Altamira', N'Managua', N'Nicaragua', N'8888-1111')
INSERT [dbo].[Empleados] ([IDEmpleado], [Apellidos], [Nombre], [Cargo], [FechaNacimiento], [FechaContratación], [Dirección], [Ciudad], [País], [Teléfono]) VALUES (2, N'Mendoza', N'Carolina', N'Vendedora', CAST(N'1987-11-02' AS Date), CAST(N'2015-06-01' AS Date), N'Bo. Monseñor Lezcano', N'Managua', N'Nicaragua', N'8855-3322')
INSERT [dbo].[Empleados] ([IDEmpleado], [Apellidos], [Nombre], [Cargo], [FechaNacimiento], [FechaContratación], [Dirección], [Ciudad], [País], [Teléfono]) VALUES (3, N'Pérez', N'Mario', N'Vendedor', CAST(N'1992-03-18' AS Date), CAST(N'2018-07-10' AS Date), N'Bo. Batahola', N'Managua', N'Nicaragua', N'8877-4433')
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[Facturas] ON 

INSERT [dbo].[Facturas] ([IDFactura], [Numero], [Fecha], [IDCliente], [IDPedido], [Subtotal], [Descuento], [Impuesto], [Total], [Estado], [UsuarioCrea]) VALUES (1, N'FAC-0001', CAST(N'2025-11-30T19:17:52.387' AS DateTime), N'CLI01', 1, CAST(1500.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(225.00 AS Decimal(10, 2)), CAST(1725.00 AS Decimal(10, 2)), N'EMITIDA', N'Ariel')
INSERT [dbo].[Facturas] ([IDFactura], [Numero], [Fecha], [IDCliente], [IDPedido], [Subtotal], [Descuento], [Impuesto], [Total], [Estado], [UsuarioCrea]) VALUES (2, N'FAC-012', CAST(N'2025-11-30T21:01:37.307' AS DateTime), N'CLI04', NULL, CAST(99.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(99.00 AS Decimal(10, 2)), N'EMITIDA', N'Web')
INSERT [dbo].[Facturas] ([IDFactura], [Numero], [Fecha], [IDCliente], [IDPedido], [Subtotal], [Descuento], [Impuesto], [Total], [Estado], [UsuarioCrea]) VALUES (3, N'FAC-0015', CAST(N'2025-11-30T21:04:20.993' AS DateTime), N'CLI01', NULL, CAST(124.70 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(124.70 AS Decimal(10, 2)), N'EMITIDA', N'Web')
SET IDENTITY_INSERT [dbo].[Facturas] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventarios] ON 

INSERT [dbo].[Inventarios] ([IDInventario], [IDProducto], [StockInicial], [StockActual], [StockMinimo], [StockMaximo], [PuntoReorden], [FechaUltimoMovimiento]) VALUES (1, 1, 120, 232, 20, 360, 20, CAST(N'2025-11-30T15:47:42.440' AS DateTime))
INSERT [dbo].[Inventarios] ([IDInventario], [IDProducto], [StockInicial], [StockActual], [StockMinimo], [StockMaximo], [PuntoReorden], [FechaUltimoMovimiento]) VALUES (2, 2, 200, 395, 30, 600, 30, CAST(N'2025-11-30T15:47:42.440' AS DateTime))
INSERT [dbo].[Inventarios] ([IDInventario], [IDProducto], [StockInicial], [StockActual], [StockMinimo], [StockMaximo], [PuntoReorden], [FechaUltimoMovimiento]) VALUES (3, 3, 180, 358, 25, 540, 25, CAST(N'2025-11-30T15:47:42.440' AS DateTime))
SET IDENTITY_INSERT [dbo].[Inventarios] OFF
GO
SET IDENTITY_INSERT [dbo].[KardexInventario] ON 

INSERT [dbo].[KardexInventario] ([IDMovimiento], [IDProducto], [CodigoBarra], [TipoMovimiento], [Cantidad], [StockAnterior], [StockNuevo], [Impacto], [PrecioUnitario], [CostoImpacto], [DocumentoReferencia], [Bodega], [Responsable], [Detalle], [FechaMovimiento]) VALUES (1, 1, N'693235460147', N'entrada_compra', 24, 120, 144, 24, CAST(16.50 AS Decimal(18, 2)), CAST(396.00 AS Decimal(18, 2)), NULL, N'Bodega Principal', N'José', N'Reabastecimiento', CAST(N'2026-05-03T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[KardexInventario] OFF
GO
SET IDENTITY_INSERT [dbo].[MovimientosInventario] ON 

INSERT [dbo].[MovimientosInventario] ([idMovimiento], [idInventario], [idDetalle], [fechaMovimiento], [tipoMovimiento], [documentoReferencia], [origenDestino], [cantidad], [costoUnitario], [observaciones]) VALUES (1, 1, NULL, CAST(N'2025-11-30T15:47:21.457' AS DateTime), N'A', N'INVENTARIO-INICIAL', N'Carga inicial de inventario', 120, CAST(16.50 AS Decimal(10, 2)), N'Carga de stock existente al crear Kardex')
INSERT [dbo].[MovimientosInventario] ([idMovimiento], [idInventario], [idDetalle], [fechaMovimiento], [tipoMovimiento], [documentoReferencia], [origenDestino], [cantidad], [costoUnitario], [observaciones]) VALUES (2, 2, NULL, CAST(N'2025-11-30T15:47:21.457' AS DateTime), N'A', N'INVENTARIO-INICIAL', N'Carga inicial de inventario', 200, CAST(9.90 AS Decimal(10, 2)), N'Carga de stock existente al crear Kardex')
INSERT [dbo].[MovimientosInventario] ([idMovimiento], [idInventario], [idDetalle], [fechaMovimiento], [tipoMovimiento], [documentoReferencia], [origenDestino], [cantidad], [costoUnitario], [observaciones]) VALUES (3, 3, NULL, CAST(N'2025-11-30T15:47:21.457' AS DateTime), N'A', N'INVENTARIO-INICIAL', N'Carga inicial de inventario', 180, CAST(8.75 AS Decimal(10, 2)), N'Carga de stock existente al crear Kardex')
SET IDENTITY_INSERT [dbo].[MovimientosInventario] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([IDPedido], [IDCliente], [IDEmpleado], [FechaPedido], [FechaRequerida], [FechaEnvío], [IDTransportista], [CargoTransporte], [Destinatario], [DirecciónDestino], [CiudadDestino], [PaísDestino]) VALUES (1, N'CLI01', 3, CAST(N'2025-10-01' AS Date), CAST(N'2025-10-05' AS Date), CAST(N'2025-10-03' AS Date), 1, CAST(4.50 AS Decimal(10, 2)), N'Mario Pérez', N'Carretera Masaya Km 5', N'Managua', N'Nicaragua')
INSERT [dbo].[Pedidos] ([IDPedido], [IDCliente], [IDEmpleado], [FechaPedido], [FechaRequerida], [FechaEnvío], [IDTransportista], [CargoTransporte], [Destinatario], [DirecciónDestino], [CiudadDestino], [PaísDestino]) VALUES (2, N'CLI02', 4, CAST(N'2025-10-02' AS Date), CAST(N'2025-10-06' AS Date), CAST(N'2025-10-04' AS Date), 2, CAST(6.20 AS Decimal(10, 2)), N'José Gómez', N'Avenida Central', N'León', N'Nicaragua')
INSERT [dbo].[Pedidos] ([IDPedido], [IDCliente], [IDEmpleado], [FechaPedido], [FechaRequerida], [FechaEnvío], [IDTransportista], [CargoTransporte], [Destinatario], [DirecciónDestino], [CiudadDestino], [PaísDestino]) VALUES (3, N'CLI03', 9, CAST(N'2025-10-03' AS Date), CAST(N'2025-10-07' AS Date), CAST(N'2025-10-05' AS Date), 3, CAST(5.10 AS Decimal(10, 2)), N'Ana López', N'Barrio San Judas', N'Managua', N'Nicaragua')
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IDProducto], [Nombre], [IDProveedor], [IDCategoría], [CantidadPorUnidad], [PrecioUnitario], [UnidadesEnStock], [UnidadesEnPedido], [NivelDeReorden], [Descontinuado], [CodigoBarra]) VALUES (1, N'Aceite Sintético Liqui Moly 5W-40 1L', 1, 1, N'Botella 1L', CAST(16.50 AS Decimal(10, 2)), 144, 0, 20, 0, N'693235460147')
INSERT [dbo].[Productos] ([IDProducto], [Nombre], [IDProveedor], [IDCategoría], [CantidadPorUnidad], [PrecioUnitario], [UnidadesEnStock], [UnidadesEnPedido], [NivelDeReorden], [Descontinuado], [CodigoBarra]) VALUES (2, N'Aceite Semisintético Castrol GTX 20W-50 1L', 2, 1, N'Botella 1L', CAST(9.90 AS Decimal(10, 2)), 200, 10, 30, 0, N'712345678904')
INSERT [dbo].[Productos] ([IDProducto], [Nombre], [IDProveedor], [IDCategoría], [CantidadPorUnidad], [PrecioUnitario], [UnidadesEnStock], [UnidadesEnPedido], [NivelDeReorden], [Descontinuado], [CodigoBarra]) VALUES (3, N'Aceite Mineral Mobil Super 15W-40 1L', 3, 1, N'Botella 1L', CAST(8.75 AS Decimal(10, 2)), 180, 15, 25, 0, N'725678901236')
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedores] ON 

INSERT [dbo].[Proveedores] ([IDProveedor], [NombreEmpresa], [Contacto], [Cargo], [Dirección], [Ciudad], [País], [Teléfono], [Correo]) VALUES (1, N'Liqui Moly Centroamérica', N'Carlos Hernández', N'Gerente Regional', N'Km 7 Carretera a Masaya', N'Managua', N'Nicaragua', N'2250-3322', N'chernandez@liquimoly.com')
INSERT [dbo].[Proveedores] ([IDProveedor], [NombreEmpresa], [Contacto], [Cargo], [Dirección], [Ciudad], [País], [Teléfono], [Correo]) VALUES (2, N'Castrol Nicaragua', N'María Gómez', N'Representante', N'Carretera Norte 120', N'Managua', N'Nicaragua', N'2234-5566', N'mgomez@castrol.com')
INSERT [dbo].[Proveedores] ([IDProveedor], [NombreEmpresa], [Contacto], [Cargo], [Dirección], [Ciudad], [País], [Teléfono], [Correo]) VALUES (3, N'Mobil Lubricantes', N'José Martínez', N'Ejecutivo de ventas', N'Zona Industrial Sur', N'Managua', N'Nicaragua', N'2240-9988', N'jmartinez@mobil.com')
SET IDENTITY_INSERT [dbo].[Proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[Transportistas] ON 

INSERT [dbo].[Transportistas] ([IDTransportista], [Nombre], [Teléfono]) VALUES (1, N'TransNica Express', N'2222-8899')
INSERT [dbo].[Transportistas] ([IDTransportista], [Nombre], [Teléfono]) VALUES (2, N'Cargas del Sur', N'2288-5544')
INSERT [dbo].[Transportistas] ([IDTransportista], [Nombre], [Teléfono]) VALUES (3, N'DHL Nicaragua', N'2255-7700')
SET IDENTITY_INSERT [dbo].[Transportistas] OFF
GO
ALTER TABLE [dbo].[DetallesFactura] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [Impuesto]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ('EMITIDA') FOR [Estado]
GO
ALTER TABLE [dbo].[Inventarios] ADD  CONSTRAINT [DF_Inventarios_StockInicial]  DEFAULT ((0)) FOR [StockInicial]
GO
ALTER TABLE [dbo].[Inventarios] ADD  CONSTRAINT [DF_Inventarios_StockActual]  DEFAULT ((0)) FOR [StockActual]
GO
ALTER TABLE [dbo].[KardexInventario] ADD  DEFAULT (sysdatetime()) FOR [FechaMovimiento]
GO
ALTER TABLE [dbo].[MovimientosInventario] ADD  DEFAULT (getdate()) FOR [fechaMovimiento]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Descontinuado]
GO
ALTER TABLE [dbo].[DetallesFactura]  WITH CHECK ADD  CONSTRAINT [FK_DetallesFactura_Facturas] FOREIGN KEY([IDFactura])
REFERENCES [dbo].[Facturas] ([IDFactura])
GO
ALTER TABLE [dbo].[DetallesFactura] CHECK CONSTRAINT [FK_DetallesFactura_Facturas]
GO
ALTER TABLE [dbo].[DetallesFactura]  WITH CHECK ADD  CONSTRAINT [FK_DetallesFactura_Productos] FOREIGN KEY([IDProducto])
REFERENCES [dbo].[Productos] ([IDProducto])
GO
ALTER TABLE [dbo].[DetallesFactura] CHECK CONSTRAINT [FK_DetallesFactura_Productos]
GO
ALTER TABLE [dbo].[DetallesPedido]  WITH CHECK ADD FOREIGN KEY([IDPedido])
REFERENCES [dbo].[Pedidos] ([IDPedido])
GO
ALTER TABLE [dbo].[DetallesPedido]  WITH CHECK ADD FOREIGN KEY([IDProducto])
REFERENCES [dbo].[Productos] ([IDProducto])
GO
ALTER TABLE [dbo].[DetallesPedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallesPedido_Pedidos] FOREIGN KEY([IDPedido])
REFERENCES [dbo].[Pedidos] ([IDPedido])
GO
ALTER TABLE [dbo].[DetallesPedido] CHECK CONSTRAINT [FK_DetallesPedido_Pedidos]
GO
ALTER TABLE [dbo].[DetallesPedido]  WITH CHECK ADD  CONSTRAINT [FK_DetallesPedido_Productos] FOREIGN KEY([IDProducto])
REFERENCES [dbo].[Productos] ([IDProducto])
GO
ALTER TABLE [dbo].[DetallesPedido] CHECK CONSTRAINT [FK_DetallesPedido_Productos]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Clientes] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Clientes] ([IDCliente])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Clientes]
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Pedidos] FOREIGN KEY([IDPedido])
REFERENCES [dbo].[Pedidos] ([IDPedido])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Pedidos]
GO
ALTER TABLE [dbo].[Inventarios]  WITH CHECK ADD  CONSTRAINT [FK_Inventarios_Productos] FOREIGN KEY([IDProducto])
REFERENCES [dbo].[Productos] ([IDProducto])
GO
ALTER TABLE [dbo].[Inventarios] CHECK CONSTRAINT [FK_Inventarios_Productos]
GO
ALTER TABLE [dbo].[KardexInventario]  WITH CHECK ADD  CONSTRAINT [FK_KardexInventario_Producto] FOREIGN KEY([IDProducto])
REFERENCES [dbo].[Productos] ([IDProducto])
GO
ALTER TABLE [dbo].[KardexInventario] CHECK CONSTRAINT [FK_KardexInventario_Producto]
GO
ALTER TABLE [dbo].[MovimientosInventario]  WITH CHECK ADD FOREIGN KEY([idDetalle])
REFERENCES [dbo].[DetallesPedido] ([IDDetalle])
GO
ALTER TABLE [dbo].[MovimientosInventario]  WITH CHECK ADD FOREIGN KEY([idInventario])
REFERENCES [dbo].[Inventarios] ([IDInventario])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Clientes] ([IDCliente])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([IDEmpleado])
REFERENCES [dbo].[Empleados] ([IDEmpleado])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([IDTransportista])
REFERENCES [dbo].[Transportistas] ([IDTransportista])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Clientes] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Clientes] ([IDCliente])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Clientes]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Empleados] FOREIGN KEY([IDEmpleado])
REFERENCES [dbo].[Empleados] ([IDEmpleado])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Empleados]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Transportistas] FOREIGN KEY([IDTransportista])
REFERENCES [dbo].[Transportistas] ([IDTransportista])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Transportistas]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([IDCategoría])
REFERENCES [dbo].[Categorías] ([IDCategoría])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([IDProveedor])
REFERENCES [dbo].[Proveedores] ([IDProveedor])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Categorías] FOREIGN KEY([IDCategoría])
REFERENCES [dbo].[Categorías] ([IDCategoría])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Categorías]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_Proveedores] FOREIGN KEY([IDProveedor])
REFERENCES [dbo].[Proveedores] ([IDProveedor])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_Proveedores]
GO
ALTER TABLE [dbo].[KardexInventario]  WITH CHECK ADD  CONSTRAINT [CK_KardexInventario_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[KardexInventario] CHECK CONSTRAINT [CK_KardexInventario_Cantidad]
GO
ALTER TABLE [dbo].[KardexInventario]  WITH CHECK ADD  CONSTRAINT [CK_KardexInventario_TipoMovimiento] CHECK  (([TipoMovimiento]='cuarentena' OR [TipoMovimiento]='transferencia' OR [TipoMovimiento]='salida_ajuste' OR [TipoMovimiento]='salida_garantia' OR [TipoMovimiento]='salida_perdida' OR [TipoMovimiento]='salida_vencimiento' OR [TipoMovimiento]='salida_danio' OR [TipoMovimiento]='salida_devolucion_proveedor' OR [TipoMovimiento]='salida_venta' OR [TipoMovimiento]='entrada_ajuste' OR [TipoMovimiento]='entrada_devolucion_cliente' OR [TipoMovimiento]='entrada_compra'))
GO
ALTER TABLE [dbo].[KardexInventario] CHECK CONSTRAINT [CK_KardexInventario_TipoMovimiento]
GO
ALTER TABLE [dbo].[MovimientosInventario]  WITH CHECK ADD CHECK  (([tipoMovimiento]='A' OR [tipoMovimiento]='S' OR [tipoMovimiento]='E'))
GO
/****** Object:  StoredProcedure [dbo].[BuscarProducto]    Script Date: 4/5/2026 15:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[BuscarProducto]
    @Busqueda NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IDProducto,
        Nombre,
        IDProveedor,
        IDCategoría,
        CantidadPorUnidad,
        PrecioUnitario,
        UnidadesEnStock,
        UnidadesEnPedido,
        NivelDeReorden,
        Descontinuado,
        CodigoBarra
    FROM Productos
    WHERE Nombre LIKE '%' + @Busqueda + '%'
       OR CodigoBarra LIKE '%' + @Busqueda + '%'
    ORDER BY Nombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[Kardex]    Script Date: 4/5/2026 15:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[Kardex]
    @IDProducto INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IDMovimiento,
        IDProducto,
        CodigoBarra,
        TipoMovimiento,
        Cantidad,
        StockAnterior,
        StockNuevo,
        Impacto,
        PrecioUnitario,
        CostoImpacto,
        DocumentoReferencia,
        Bodega,
        Responsable,
        Detalle,
        FechaMovimiento
    FROM KardexInventario
    WHERE IDProducto = @IDProducto
    ORDER BY FechaMovimiento DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerFactura]    Script Date: 4/5/2026 15:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ObtenerFactura]
    @IDCliente NVARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IDFactura,
        Numero,
        Fecha,
        IDCliente,
        IDPedido,
        Subtotal,
        Descuento,
        Impuesto,
        Total,
        Estado,
        UsuarioCrea
    FROM Facturas
    WHERE IDCliente = @IDCliente
    ORDER BY Fecha DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerProductos]    Script Date: 4/5/2026 15:16:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ObtenerProductos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IDProducto,
        Nombre,
        IDProveedor,
        IDCategoría,
        CantidadPorUnidad,
        PrecioUnitario,
        UnidadesEnStock,
        UnidadesEnPedido,
        NivelDeReorden,
        Descontinuado,
        CodigoBarra
    FROM Productos
    ORDER BY Nombre;
END;
GO
